<div class="center" style="padding:60px 0">
  <img src="/img/logo.svg" style="width:90px;height:90px;opacity:.7">
  <h1 class="gold" style="font-size:3rem;margin:.2em 0"><%= code %></h1>
  <p class="lead muted"><%= msg %></p>
  <a href="/" class="btn btn-gold mt">Volver al inicio</a>
</div>
